---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/app_id?access_token=access_token
    body:
      encoding: US-ASCII
      string: ""
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - "\"12a276ca4d836197dc0ee755d53ba5fdd105fc49\""
    body:
      encoding: US-ASCII
      string: "{\"id\":\"app_id\",\"name\":\"Billy Monk Timeline Test\",\"link\":\"http:\\/\\/www.facebook.com\\/apps\\/application.php?id=app_id\",\"namespace\":\"billy-monk-time-test\",\"icon_url\":\"http:\\/\\/static.ak.fbcdn.net\\/rsrc.php\\/v2\\/yT\\/r\\/4QVMqOjUhcd.gif\",\"logo_url\":\"http:\\/\\/static.ak.fbcdn.net\\/rsrc.php\\/v2\\/y_\\/r\\/9myDd8iyu0B.gif\"}"
  recorded_at: Thu, 06 Jun 2013 18:17:18 GMT
recorded_with: VCR 2.5.0
