---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/app_id?access_token
    body:
      encoding: US-ASCII
      string: ""
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Unsupported get request."
    body:
      encoding: US-ASCII
      string: "{\"error\":{\"message\":\"Unsupported get request.\",\"type\":\"GraphMethodException\",\"code\":100}}"
  recorded_at: Thu, 06 Jun 2013 18:17:18 GMT
recorded_with: VCR 2.5.0
