--- 
http_interactions: 
- request: 
    method: get
    uri: https://graph.facebook.com/me?access_token
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
      Www-Authenticate: 
      - OAuth "Facebook Platform" "invalid_request" "An active access token must be used to query information about the current user."
    body: 
      encoding: US-ASCII
      string: "{\"error\":{\"message\":\"An active access token must be used to query information about the current user.\",\"type\":\"OAuthException\",\"code\":2500}}"
  recorded_at: Thu, 06 Jun 2013 18:17:21 GMT
recorded_with: VCR 2.5.0
