---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/page_id/events?access_token=access_token
    body:
      encoding: US-ASCII
      string: ""
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - "\"0bc33eda5629db9e2558db57eff371213ad8a777\""
    body:
      encoding: US-ASCII
      string: "{\"data\":[{\"name\":\"I AM AN EVENT\",\"start_time\":\"2013-06-05\",\"id\":\"140051219523306\"}],\"paging\":{\"previous\":\"https:\\/\\/graph.facebook.com\\/page_id\\/events?access_token=access_token&limit=5000&since=1370390400&__paging_token=140051219523306&__previous=1\",\"next\":\"https:\\/\\/graph.facebook.com\\/page_id\\/events?access_token=access_token&limit=5000&until=1370390400&__paging_token=140051219523306\"}}"
  recorded_at: Thu, 06 Jun 2013 18:17:20 GMT
recorded_with: VCR 2.5.0
