---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/page_id/feed?access_token=access_token&limit=3
    body:
      encoding: US-ASCII
      string: ""
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - "\"f80794324e6b92cc063ee0dc4aeda107e07e153e\""
    body:
      encoding: ASCII-8BIT
      string: "{\"data\":[{\"id\":\"page_id_377489315701549\",\"from\":{\"id\":\"page_id\",\"category\":\"Computers\\/technology\",\"name\":\"Billy Monk Mosaic Sandbox\"},\"message\":\"HELLO FROM FACEBOOK GEM\",\"actions\":[{\"name\":\"Comment\",\"link\":\"http:\\/\\/www.facebook.com\\/page_id\\/posts\\/377489315701549\"},{\"name\":\"Like\",\"link\":\"http:\\/\\/www.facebook.com\\/page_id\\/posts\\/377489315701549\"}],\"privacy\":{\"description\":\"Public\",\"value\":\"EVERYONE\",\"friends\":\"\",\"networks\":\"\",\"allow\":\"\",\"deny\":\"\"},\"type\":\"status\",\"status_type\":\"mobile_status_update\",\"application\":{\"name\":\"Graph API Explorer\",\"id\":\"145634995501895\"},\"created_time\":\"2013-04-26T14:19:23+0000\",\"updated_time\":\"2013-04-26T14:19:23+0000\"},{\"id\":\"page_id_375522369231577\",\"from\":{\"id\":\"page_id\",\"category\":\"Computers\\/technology\",\"name\":\"Billy Monk Mosaic Sandbox\"},\"message\":\"http:\\/\\/apps.facebook.com\\/static-app-three?app_data=eyJmYl9wYWdlX2lkIjoiMjE5OTc5NzIxMzU2MjI1In0\\u00253D\\u00250A\",\"link\":\"http:\\/\\/apps.facebook.com\\/static-app-four\\/?app_data=eyJmYl9wYWdlX2lkIjoiMjE5OTc5NzIxMzU2MjI1In0\\u00253D\\u00250A\",\"name\":\"http:\\/\\/apps.facebook.com\\/static-app-four\\/?app_data=eyJmYl9wYWdlX2lkIjoiMjE5OTc5NzIxMzU2MjI1In0\\u00253D\\u00250A\",\"caption\":\"apps.facebook.com\",\"icon\":\"http:\\/\\/static.ak.fbcdn.net\\/rsrc.php\\/v2\\/yD\\/r\\/aS8ecmYRys0.gif\",\"actions\":[{\"name\":\"Comment\",\"link\":\"http:\\/\\/www.facebook.com\\/page_id\\/posts\\/375522369231577\"},{\"name\":\"Like\",\"link\":\"http:\\/\\/www.facebook.com\\/page_id\\/posts\\/375522369231577\"}],\"privacy\":{\"description\":\"Public\",\"value\":\"EVERYONE\",\"friends\":\"\",\"networks\":\"\",\"allow\":\"\",\"deny\":\"\"},\"type\":\"link\",\"status_type\":\"shared_story\",\"created_time\":\"2013-04-22T12[...]
