---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/joe.pym/likes?access_token=access_token
    body:
      encoding: US-ASCII
      string: ""
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - "\"38cb4d3293944e7bb8e45b71efe4e30de5bf8d25\""
    body:
      encoding: ASCII-8BIT
      string: "{\"data\":[{\"category\":\"Book\",\"name\":\"Malazan Book of the Fallen\",\"id\":\"109710789048056\",\"created_time\":\"2013-06-01T18:53:13+0000\"},{\"category\":\"Author\",\"name\":\"Patrick Rothfuss\",\"id\":\"8024953523\",\"created_time\":\"2013-05-30T15:06:15+0000\"}],\"paging\":{\"next\":\"https:\\/\\/graph.facebook.com\\/user_id\\/likes?access_token=oauth_token&limit=5000&offset=5000&__after_id=21440776600\"}}"
  recorded_at: Fri, 07 Jun 2013 14:44:43 GMT
recorded_with: VCR 2.5.0
