---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/user_id/likes/page_id?access_token=access_token
    body:
      encoding: US-ASCII
      string: ""
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - "\"e77a3ce2fc8074e347d8a7ff6646012a0f6b7b75\""
    body:
      encoding: US-ASCII
      string: "{\"data\":[{\"category\":\"Internet\\/software\",\"name\":\"Sandbox\",\"id\":\"page_id\",\"created_time\":\"2013-06-07T14:45:08+0000\"}],\"paging\":{\"next\":\"https:\\/\\/graph.facebook.com\\/user_id\\/likes?target_id=page_id&access_token=oauth_token&limit=5000&offset=5000&__after_id=page_id\"}}"
  recorded_at: Fri, 07 Jun 2013 14:45:21 GMT
recorded_with: VCR 2.5.0
