---
http_interactions:
- request:
    method: get
    uri: https://api.facebook.com/method/notifications.sendEmail?access_token=xxx&recipients=100000438239301&subject=testing&text=ajit
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<error_response xmlns=\"http://api.facebook.com/1.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://api.facebook.com/1.0/
        http://api.facebook.com/1.0/facebook.xsd\">\n  <error_code>190</error_code>\n
        \ <error_msg>Invalid OAuth access token.</error_msg>\n  <request_args list=\"true\">\n
        \   <arg>\n      <key>method</key>\n      <value>notifications.sendEmail</value>\n
        \   </arg>\n    <arg>\n      <key>access_token</key>\n      <value>xxx</value>\n
        \   </arg>\n    <arg>\n      <key>recipients</key>\n      <value>100000438239301</value>\n
        \   </arg>\n    <arg>\n      <key>subject</key>\n      <value>testing</value>\n
        \   </arg>\n    <arg>\n      <key>text</key>\n      <value>ajit</value>\n
        \   </arg>\n  </request_args>\n</error_response>\n"
  recorded_at: Wed, 05 Jun 2013 14:27:12 GMT
recorded_with: VCR 2.5.0
