--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.facebook.com/method/notifications.sendEmail?access_token&recipients=000000000&subject=testing&text=ajit
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <error_response xmlns="http://api.facebook.com/1.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://api.facebook.com/1.0/ http://api.facebook.com/1.0/facebook.xsd">
          <error_code>101</error_code>
          <error_msg>Invalid application ID.</error_msg>
          <request_args list="true">
            <arg>
              <key>method</key>
              <value>notifications.sendEmail</value>
            </arg>
            <arg>
              <key>access_token</key>
              <value/>
            </arg>
            <arg>
              <key>recipients</key>
              <value>000000000</value>
            </arg>
            <arg>
              <key>subject</key>
              <value>testing</value>
            </arg>
            <arg>
              <key>text</key>
              <value>ajit</value>
            </arg>
          </request_args>
        </error_response>

  recorded_at: Thu, 06 Jun 2013 18:17:16 GMT
recorded_with: VCR 2.5.0
