---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/search?access_token=access_token&q=mosaic&type=post
    body:
      encoding: US-ASCII
      string: ""
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - "\"d74c5158621e69a3d1cd945ddac4bb3a3ab8f4bb\""
    body:
      encoding: ASCII-8BIT
      string: "{\"data\":[{\"id\":\"107742779328131_354289198006820\",\"from\":{\"category\":\"Church\\/religious organization\",\"category_list\":[{\"id\":\"187714557925874\",\"name\":\"Religious Organization\"}],\"name\":\"Mosaic of Clayton\",\"id\":\"107742779328131\"},\"message\":\"Mosaic, if you are in town for the Fourth, then join us at the Garden. \",\"story\":\"Mosaic of Clayton shared Mosaic Community Garden's event.\",\"link\":\"http:\\/\\/www.facebook.com\\/events\\/520678957981731\\/\",\"actions\":[{\"name\":\"Comment\",\"link\":\"http:\\/\\/www.facebook.com\\/107742779328131\\/posts\\/354289198006820\"},{\"name\":\"Like\",\"link\":\"http:\\/\\/www.facebook.com\\/107742779328131\\/posts\\/354289198006820\"}],\"privacy\":{\"value\":\"\"},\"type\":\"link\",\"application\":{\"name\":\"Share_bookmarklet\",\"id\":\"5085647995\"},\"created_time\":\"2013-07-02T14:24:39+0000\",\"updated_time\":\"2013-07-02T14:24:39+0000\"},{\"id\":\"643235335703893_643845865642840\",\"from\":{\"category\":\"Health\\/medical\\/pharmaceuticals\",\"category_list\":[{\"id\":\"2243\",\"name\":\"Health\\/Medical\\/Pharmaceuticals\"}],\"name\":\"Johns Hopkins Women's Health Research Group\",\"id\":\"643235335703893\"},\"message\":\"Thank you JHU Provost Office's Mosaic Initiative for awarding us with the ability to host Dr. Camara Jones from the Centers for Disease Control and Prevention. The symposium was a[...]
