---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=access_token
    body:
      encoding: US-ASCII
      string: ""
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - "\"8c1adf1e52523c2f2c9265fa7f1ae6d2e43e08b3\""
      Last-Modified:
      - 2013-05-10T14:45:03+0000
    body:
      encoding: US-ASCII
      string: "{\"id\":\"user_id\",\"name\":\"Billy Monk\",\"first_name\":\"Billy\",\"last_name\":\"Monk\",\"link\":\"http:\\/\\/www.facebook.com\\/billy.monk.92\",\"username\":\"billy.monk.92\",\"hometown\":{\"id\":\"111948542155151\",\"name\":\"San Jose, California\"},\"location\":{\"id\":\"111948542155151\",\"name\":\"San Jose, California\"},\"work\":[{\"employer\":{\"id\":\"27176049295\",\"name\":\"Zoocasa, Brokerage\"},\"start_date\":\"0000-00\",\"end_date\":\"0000-00\"}],\"gender\":\"male\",\"timezone\":-4,\"locale\":\"en_US\",\"verified\":true,\"updated_time\":\"2013-05-10T14:45:03+0000\"}"
  recorded_at: Thu, 06 Jun 2013 18:17:22 GMT
recorded_with: VCR 2.5.0
