---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me/accounts?access_token=access_token
    body:
      encoding: US-ASCII
      string: ""
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - "\"1819a25af41c66d3dd043d158583bc8cb6db4d9d\""
    body:
      encoding: ASCII-8BIT
      string: "{\"data\":[{\"category\":\"Computers\\/technology\",\"name\":\"Billy Monk Mosaic Sandbox\",\"access_token\":\"access_token\",\"id\":\"page_id\",\"perms\":[\"ADMINISTER\",\"EDIT_PROFILE\",\"CREATE_CONTENT\",\"MODERATE_CONTENT\",\"CREATE_ADS\",\"BASIC_ADMIN\"]},{\"category\":\"Computers\\/technology\",\"category_list\":[{\"id\":\"2255\",\"name\":\"Computers\\/Technology\"}],\"name\":\"Mosaic (staging)\",\"access_token\":\"access_token\",\"id\":\"219979721356225\",\"perms\":[\"ADMINISTER\",\"EDIT_PROFILE\",\"CREATE_CONTENT\",\"MODERATE_CONTENT\",\"CREATE_ADS\",\"BASIC_ADMIN\"]},{\"category\":\"Computers\\/technology\",\"name\":\"Billy Monk Mosaic Sandbox Two\",\"access_token\":\"access_token\",\"id\":\"369685219790509\",\"perms\":[\"ADMINISTER\",\"EDIT_PROFILE\",\"CREATE_CONTENT\",\"MODERATE_CONTENT\",\"CREATE_ADS\",\"BASIC_ADMIN\"]}],\"paging\":{\"next\":\"https:\\/\\/graph.facebook.com\\/user_id\\/accounts?access_token=access_token&limit=5000&offset=5000&__after_id=369685219790509\"}}"
  recorded_at: Thu, 06 Jun 2013 18:17:17 GMT
recorded_with: VCR 2.5.0
