---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/page_id?access_token
    body:
      encoding: US-ASCII
      string: ""
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - "\"8ddb8c0108d6e1ccd764b3706d1236e058b01001\""
    body:
      encoding: US-ASCII
      string: "{\"id\":\"page_id\",\"app_id\":\"0\",\"can_post\":false,\"category\":\"Computers\\/technology\",\"checkins\":0,\"has_added_app\":false,\"is_community_page\":false,\"is_published\":true,\"likes\":0,\"link\":\"http:\\/\\/www.facebook.com\\/BillyMonkMosaicSandbox\",\"name\":\"Billy Monk Mosaic Sandbox\",\"talking_about_count\":0,\"username\":\"BillyMonkMosaicSandbox\",\"were_here_count\":0}"
  recorded_at: Thu, 06 Jun 2013 18:17:21 GMT
recorded_with: VCR 2.5.0
