---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/219979721356225/insights?access_token=access_token
    body:
      encoding: US-ASCII
      string: ""
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - "\"ac115dc4f7d4d259b0c3fb3dc9892c9b9e2536a7\""
    body:
      encoding: ASCII-8BIT
      string: "{\"data\":[{\"id\":\"219979721356225\\/insights\\/page_fan_adds_unique\\/day\",\"name\":\"page_fan_adds_unique\",\"period\":\"day\",\"values\":[{\"value\":0,\"end_time\":\"2013-06-03T07:00:00+0000\"},{\"value\":0,\"end_time\":\"2013-06-04T07:00:00+0000\"}],\"title\":\"Daily New Likes\",\"description\":\"Daily The number of new people who have liked your Page (Unique Users)\"},{\"id\":\"219979721356225\\/insights\\/page_fan_adds\\/day\",\"name\":\"page_fan_adds\",\"period\":\"day\",\"values\":[{\"value\":0,\"end_time\":\"2013-06-03T07:00:00+0000\"},{\"value\":0,\"end_time\":\"2013-06-04T07:00:00+0000\"}],\"title\":\"Daily New Likes\",\"description\":\"Daily The number of new people who have liked your Page (Total Count)\"},{\"id\":\"219979721356225\\/insights\\/page_fan_removes_unique\\/day\",[...]
