---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/219979721356225/posts?access_token=access_token&limit=3
    body:
      encoding: US-ASCII
      string: ""
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - "\"a1891919cdb7f8ff0bf3992cda91ecde475fd650\""
    body:
      encoding: ASCII-8BIT
      string: "{\"data\":[{\"id\":\"219979721356225_566624210025106\",\"from\":{\"id\":\"219979721356225\",\"category\":\"Computers\\/technology\",\"name\":\"Mosaic (staging)\"},\"story\":\"Mosaic (staging) added a new photo.\",\"picture\":\"http:\\/\\/photos-h.ak.fbcdn.net\\/hphotos-ak-ash4\\/310964_566624030025124_2053983832_s.jpg\",\"link\":\"http:\\/\\/www.facebook.com\\/photo.php?fbid=566624030025124&set=a.566624006691793.1073741825.219979721356225&type=1&relevant_count=1\",\"name\":\"Skittles Wacky Characters\",\"icon\":\"http:\\/\\/static.ak.fbcdn.net\\/rsrc.php\\/v2\\/yz\\/r\\/StEh3RhPvjk.gif\",\"actions\":[{\"name\":\"Comment\",\"link\":\"http:\\/\\/www.facebook.com\\/219979721356225\\/posts\\/566624210025106\"},{\"name\":\"Like\",\"link\":\"http:\\/\\/www.facebook.com\\/219979721356225\\/posts\\/566624210025106\"}],\"privacy\":{\"description\":\"Public\",\"value\":\"EVERYONE\",\"friends\":\"\",\"networks\":\"\",\"allow\":\"\",\"deny\":\"\"},\"type\":\"photo\",\"status_type\":\"added_photos\",\"object_id\":\"566624030025124\",\"created_time\":\"2013-04-26T15:34:34+0000\",\"updated_time\":\"2013-04-26T15:34:34+0000\"},{\"id\":\"219979721356225_566624213358439\",\"from\":{\"id\":\"219979721356225\",\"category\":\"Computers\\/technology\",\"name\":\"Mosaic (staging)\"},\"story\":\"Mosaic (staging) added a new photo.\",\"picture\":\"http:\\/\\/photos-f.ak.fbcdn.net\\/hphotos-ak-prn1\\/934130_566624033358457_1064313288_s.jpg\",\"link\":\"http:\\/\\/www.facebook.com\\/photo.php?fbid=566624033358457&set=a.566624006691793.1073741825.219979721356225&type=1&relevant_count=1\",\"name\":\"S[...]
